footer {
    margin-top: 16px;    
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: $font-color;
        border-bottom: $font-color 1px solid;
    }
}