.tabs {
    // border: #000 1px solid
    margin-top: 8px;

    @include w-from($screen-lg) {
        margin-top: 16px;
    }      
}

.tabs__menu {
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 12px;

    @include w-from($screen-md) {
        height: 64px;
        font-size: 24px;
    }

    @include w-from($screen-lg) {
        height: 88px;
        font-size: 32px;
    }    

    li {
        height: 32px;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #777;

        @include w-from($screen-md) {
            height: 64px;
        }

        @include w-from($screen-lg) {
            height: 88px;
        }          
    }

    li:hover {
        cursor: pointer;
        color: $font-color
    }

    li.active {
        background-color: #fff;
        color: $font-color;
    }

    li.active:first-child {
        border-top-right-radius: 4px
    }

    li.active:last-child {
        border-top-left-radius: 4px
    }    
}

.tabs__content {
    @include wrapper;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #fff;

    @include w-from($screen-md) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}


.tabs__block {
    /**/
}

.tabs__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;       
    grid-gap: 8px;

    @include w-from($screen-sm * 2) {  // 640px
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @include w-from($screen-md) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 16px;
    }
}
