@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "normalize";
@import "variables";
@import "mixines";
@import "fonts";
@import "intro";
@import "tabs";
@import "card";
@import "footer";
@import "temp-bg-colors";


html, 
body {
    width: 100%;
    min-height: 100%;
}

body {
    font-family: $font-family;
    font-weight: $font-weight-base;
    background-color: $bgcolor;
    font-size: $font-size-base;
}

// .wrapper {
//     width: 100%;
//     box-sizing: border-box;
//     padding-top: 8px;
//     padding-right: 8px;
//     padding-bottom: 8px;
//     padding-left: 8px;
// }

header {
    @include wrapper;  
    height: 56px;
    margin-top: 8px;
    font-weight: $font-weight-bold;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date {
    @include wrapper;  
    height: 32px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: $font-weight-base;
    font-size: 12px;

    &-bold {
        font-weight: $font-weight-bold;
    }
}

a {
    text-decoration: none;
}