@font-face {
  font-family: 'weather';
  src: url('./../fonts/weather.woff2?18026296') format('woff2'),
       url('./../fonts/weather.woff?18026296') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "weather";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
}

.icon-01d:before { content: '\e800'; } 
.icon-01n:before { content: '\e801'; } 
.icon-02d:before { content: '\e802'; } 
.icon-02n:before { content: '\e803'; } 
.icon-03d:before { content: '\e804'; } 
.icon-03n:before { content: '\e805'; } 
.icon-04d:before { content: '\e806'; } 
.icon-04n:before { content: '\e807'; } 
.icon-09d:before { content: '\e808'; } 
.icon-09n:before { content: '\e809'; } 
.icon-10d:before { content: '\e80a'; } 
.icon-10n:before { content: '\e80b'; } 
.icon-11d:before { content: '\e80c'; } 
.icon-11n:before { content: '\e80d'; } 
.icon-13d:before { content: '\e80e'; } 
.icon-13n:before { content: '\e80f'; } 
.icon-50d:before { content: '\e810'; } 
.icon-50n:before { content: '\e811'; } 

figure {
  margin: 0;
  padding: 0; 
}