$font-color: #000;
$font-family: 'Roboto', sans-serif;
$font-size-base: 12px;
$font-weight-bold: 700;
$font-weight-base: 400;

$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1280px;

$bgcolor: #f6f6f6;
$card-bg-color: #fff;


